/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f8f9;
}
/* classe per il body */
body{
    font-family: 'Roboto', sans-serif;
}
/*classe universale per tutti i background bianchi  */
.b-white{
    background-color: white;
}
/* classe per l'header */
header{
    padding: 10px;
}
/* classe per il logo della pagina */
.logo{
    vertical-align: middle ;
}
/* classe per il testo vicino il logo */
.logo-text{
    display: inline;
    vertical-align: middle;
    font-size: 40px;
    font-weight: bolder;
}
/* classe per il main */
main{
    margin-top: 30px;
}
/* classe per il container */
.container{
    height: 700px;
    width: 60%;
    margin: 0 auto;
}
/* classe per la parte superiore del main */
.main-top{
    padding: 20px;
}
/* classe per i bottoni del main superiore */
.main-top button{
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
}
/* classe per il bottone colorato */
.button-blue{
    background-color:#47adf1;
    color: white;
    border-color: #b0dcf9;
}
/* classe per il bottone chiaro */
.button-gray{
    border-color: #c7cdd2;
    color:#d0d5d9;
    background-color: white;
}
/* classe per la parte inferiore del main */
.main-under{
    padding: 40px;
}
/*classe per i ul delle liste */
ul{
    list-style: none;
    padding: 20px;
}
/*classe per i li delle liste */
li{
    background-color: white;
    padding-bottom: 10px;
    font-size: 20px;
}
/*classe per il titolo della lista  */
.titolo-lista{
    font-size: 30px;
    font-weight: bolder;
}
/* classe per il cercio verde */
.circle-green{
    background-color: #83cebb;
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 50%;
}
/*classe per il cerchio rosso  */
.circle-red{
    background-color:#ed6158;
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 50%;

}
/*classe per il simbolo verde  */
.green{
    color: #65c0a9;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
}
/*classe per il simbolo rosso  */
.red{
    color: #ee7771;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
}
/* classe per tutti i tag  */
.tag{
    color:#e2f2fc;
    font-size: 10px;
    height: 20px;
    width: 60px;
    line-height: 10px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    border-radius:  15px;
}
/*classe per i tag blu  */
.t-blue{
    background-color:#45abea;
}
/*classe per il tag viola  */
.t-violet{
    background-color: #9c72e4;
}
/*classe per il tag verde */
.t-green{
    background-color: #64c0a9;
}
/*classe per il tag arancione */
.t-orange{
    background-color: #f29e33;
}
/*classe per il tag rosa */
.t-pink{
    background-color: #d863a1;
}
/*classe per il tag giallo  */
.t-yellow{
    background-color: #b0c926;
}